$contentBg: #1c1e2a;
$awesomeBg: #ff4d30;
$banner-gradient-color: rgb(226,171,0);
$banner-gradient: linear-gradient(45deg, rgba(226,171,0,1) 0%, rgba(146,39,82,1) 100%);
$footerBg: #383d4f;
$sectionBg: #383d4f;
$text-color: #fff;
$headerImg: url("../img/m-h-night.jpg");
$H-Fz: 54px;
$LittleLogoFz: 8px;
$Heading-welcome-Fz: 35px;
$H-p-Fz: 12px;
$footer-p-Fz: 10px;
$bunner-heading-text: 25px;
$H-Ff: 'Hind', sans-serif;
$H-Ff-p: 'Source Sans Pro', sans-serif;
$H-color: #fff;
$header-btn: #e4ae00;
$font-family: (
    heading: 'Hind',
    base: 'Source Sans Pro',
    link: 'Source Sans Pro', 
    night-heading: 'Fresca' 
);
@mixin join-btn {
    background-color: $header-btn;
    height: 35px;
    width: 100px;
    color: $text-color;
    border-radius: 4px;
    border: none;
}
@mixin links {
    font-family: $H-Ff;
    color: $text-color;
    font-size: $H-p-Fz;
    opacity: 0.8;
    font-weight: 100;
}