body {
  background: #fff;
  margin: 0;
  padding: 0;
}
body header {
  background: url("../img/m-h-day.jpg");
  background-size: cover;
  background-position-y: -200px;
  background-repeat: no-repeat;
  border-bottom-right-radius: 50em 17em;
  height: 550px;
  width: 700;
}
body header .header-wrap {
  width: 960px;
  margin-left: 170px;
}
body header .header-wrap .landing-logo {
  margin-top: 10px;
  display: inline-grid;
}
body header .header-wrap .landing-logo img {
  margin-top: 10px;
}
body header .header-wrap .landing-logo p {
  width: max-content;
  grid-column: 2;
  display: inline-grid;
  padding-left: 10px;
}
body header .header-wrap .landing-logo p span {
  font-size: 8px;
  text-align: center;
}
body header .header-wrap .header_heading {
  font-size: 54px;
  width: 480px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  color: #282b39;
  line-height: 101%;
  word-spacing: 1px;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  margin-top: 45px;
}
body header .header-wrap .header_heading::after {
  content: "";
  background-color: #0ca1c8;
  left: 0;
  height: 46px;
  width: 235px;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
}
body header .header-wrap .header_text {
  width: 650px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: #282b39;
  white-space: pre-line;
  margin-top: 0;
}
body header .header-wrap div {
  margin-top: 65px;
}
body header .header-wrap div .header_button {
  background-color: #699a00;
  height: 35px;
  width: 100px;
  color: #fff;
  border-radius: 4px;
  border: none;
}
body header .header-wrap div .login {
  color: #fff;
  margin-left: 110px;
}

main {
  margin: 0 auto;
  width: 960px;
  display: grid;
}
main .section {
  display: block;
}
main .section_text {
  text-align: center;
  font-size: 35px;
  position: relative;
  z-index: 2;
}
main .section_text::after {
  content: "";
  background-color: #0ca1c8;
  left: 490px;
  height: 46px;
  width: 140px;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
}
main .section_card_wrap {
  display: grid;
  justify-content: center;
}
main .section_card_wrap .section_card {
  display: grid;
  width: 800px;
  margin-bottom: 20px;
  background-color: #282b39;
  border-radius: 5px;
  height: 225px;
  padding: 15px;
}
main .section_card_wrap .section_card .section_card_img {
  width: 340px;
}
main .section_card_wrap .section_card .section_card_right_container {
  grid-column: 2;
  color: #fff;
  text-align: center;
  width: 450px;
}
main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
main .section_banner {
  background: #689900;
  background: linear-gradient(45deg, #689900 0%, #275add 100%);
}
